<div class="row">
    <div class="col-sm">
        <h1> <%= @location[:placename] %> </h1>
        <form action="/locations/<%= @location[:id] %>/graffiti/new">
            <button type="submit" class="btn btn-primary" href="/locations/<%= @location[:id] %>/graffiti/create" method="post">Leave some graffiti here</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm">
        <% for @year in @years do %>
            <h3 class="mt-5"> Comments posted in <%= @year[:graffitiyear] %> </h1>
            <% for @item in @graffiti do %>
                <% if @item[:graffitiyear] == @year[:graffitiyear] %>
                    <p class="graffiti-metadata"> 
                        <% @user = @users.select {|user| user[:id] == @item[:user_id]} %>
                        <% if @item[:anonymous] == 0 then %>
                            <a href="/users/<%= @user[0][:id] %>/summary"> <%= @user[0][:username] %> </a> said on
                        <% else %>
                            Anonymous said on 
                        <% end %>
                        <%= "#{@montharray[@item[:graffitimonth]-1]}, #{@item[:graffitiday]}: " %> 
                    <span class="graffiti-data">
                        <%= @item[:graffiti] %> 
                    </span>
                    </p>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>